{{ $weekday := now.Format "Monday" | lower }}
{{ $hours := index .Site.Data.hours $weekday }}
{{ $today := now.Format "2006-01-02" }}

{{/* Check if today is a holiday */}}
{{ $isHoliday := false }}
{{ $holidays := slice "2025-11-27" "2025-11-28" "2025-12-24" "2025-12-25" "2025-12-26" "2025-12-31" "2026-01-01" }}
{{ range $holidays }}
  {{ if eq $today . }}
    {{ $isHoliday = true }}
  {{ end }}
{{ end }}

{{ if and $hours.open (not $isHoliday) }}
  Open today until {{ $hours.close }} PM
{{ else }}
  {{ $found := false }}
  {{ $nextDay := "" }}
  {{ $nextOpen := "" }}
  
  {{ $days := slice "monday" "tuesday" "wednesday" "thursday" "friday" "saturday" "sunday" }}
  {{ $currentIdx := -1 }}
  
  {{ range $idx, $day := $days }}
    {{ if eq $day $weekday }}
      {{ $currentIdx = $idx }}
    {{ end }}
  {{ end }}
  
  {{ if ge $currentIdx 0 }}
    {{ $wrapped := false }}
    {{ $checkIdx := add $currentIdx 1 }}
    
    {{ range $i := seq 1 7 }}
      {{ if ge $checkIdx 7 }}
        {{ $checkIdx = 0 }}
        {{ $wrapped = true }}
      {{ end }}
      
      {{ $dayToCheck := index $days $checkIdx }}
      {{ $dayHours := index $.Site.Data.hours $dayToCheck }}
      
      {{ if $dayHours.open }}
        {{ $nextDay = $dayToCheck }}
        {{ $nextOpen = $dayHours.open }}
        {{ $found = true }}
        {{ break }}
      {{ end }}
      
      {{ $checkIdx = add $checkIdx 1 }}
    {{ end }}
  {{ end }}
  
  {{ if $found }}
    Closed today. We are open {{ humanize $nextDay }} at {{ $nextOpen }} AM
  {{ else }}
    Closed for the weekend. See you on Monday!
  {{ end }}
  {{ end }}
